* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  color: white;
  background: #000;
}

.cards {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.cards .card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  
}

#loader {
  text-align: center;
  font-size: 24px;
  margin-top: 50px;
}
